body {
  margin: 20px;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

/* Layout and Positioning */
.transform-translate-50-50 {
  transform: translate(-50%, -50%);
}

.min-width-70-vh {
  min-width: 70vh;
}

.width-60 {
  width: 60%;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.top-5 {
  top: 5px;
}

.top-50p {
  top: 50%;
}

.left-0 {
  left: 0;
}

.left-50p {
  left: 50%;
}

.right-5 {
  right: 5px;
}

.gap-20 {
  gap: 20px;
}

/* Background and Colors */
.background-semitransparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.background-white {
  background-color: white;
}

.background-blue {
  background-color: #3788D8;
}

.background-blue:hover {
  background-color: #0056b3;
}

.background-red {
  background-color: #fac8c9;
}

.background-yellow {
  background-color: #fcce74;
}

.background-green {
  background-color: #9de695;
}

.color-white {
  color: white;
}

/* Spacing and Padding */
.padding-0 {
  padding: 0;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/* Box Model */
.border-radius-5 {
  border-radius: 5px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-none {
  border: none;
}

.box-shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Typography */
.font-bold {
  font-weight: bold;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.list-style-none {
  list-style: none;
}

/* Flexbox */
.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.flex-1 {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.flex-direction-column {
  flex-direction: column;
}

/* Z-Index */
.z-index-1000 {
  z-index: 1000;
}

.z-index-9999 {
  z-index: 9999;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}
